@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #F2E7DC;
}

header {
    background-color: #027373;
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

#burger {
    background-color: #026056;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #038C7F;
    color: white;
    border-top: 2px solid #A9D9D0;
}

menu > ul > li > a:hover{
    background-color: #a9d9d07a;
    color: #027373;
}

main {
    width: 90vw;
    background-color: #027373;
    color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}


article > h2 {
    padding-bottom: 20px;
    
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}